.slider__wrap {
  max-width: 1980px;
  margin: 0 auto;
  position: relative;
  justify-content: center;
}

.slider__inner {
  margin: 0 auto;
  margin-top: 70px;
  position: relative;
  overflow: hidden;
}

.eli__1 {
  z-index: 1000;
  position: absolute;
  width: 530.03px;
  height: 530.03px;
  left: calc(50% - 265px + 400px);
  top: 79px;
  background: url(../img/slide_bg01.jpg);
}

.eli16 {
  z-index: 1000;
  position: absolute;
  width: 23px;
  height: 23px;
  right: 90%;
  top: 335px;
  background: #4857EC;
  border-radius: 100%;
}

.eli4 {
  position: absolute;
  width: 49px;
  height: 49px;
  left: calc(50% - 24.5px - 94.5px);
  top: 434px;
  border-radius: 100%;
  z-index: 1000;
  background: #4857EC;
}

.eli5 {
  position: absolute;
  width: 46px;
  height: 46px;
  left: calc(50% - 23px - 97px);
  top: 127px;
  border-radius: 100%;
  z-index: 1000;
  background: #2FEFB1;
}

.eli6 {
  position: absolute;
  width: 18px;
  height: 18px;
  left: calc(50% - 9px - 240px);
  top: 79px;
  border-radius: 100%;
  z-index: 1000;
  background: #F7E36D;
}

.eli3 {
  position: absolute;
  width: 35px;
  height: 35px;
  right: 455px;
  top: 570px;
  border-radius: 100%;
  z-index: 1000;
  background: #FF3344;
}

.eli15 {
  position: absolute;
  width: 32px;
  height: 32px;
  left: 90%;
  top: 538px;
  border-radius: 100%;
  z-index: 1000;
  background: #2FEFB1;
}

/* swiper */
.swiper-slide {
  background: #fff;
}

.swiper-slide:nth-of-type(2) {
  background: #fff;
}

.swiper-slide:nth-of-type(3) {
  background: #fff;
}

.swiper-slide:nth-of-type(4) {
  background: #fff;
}

.swiper-slide:nth-of-type(5) {
  background: url(../img/slide_bg01.jpg) no-repeat center/cover;
}

.swiper-slide .desc {
  width: 1160px;
  margin: 0 auto;
  padding: 100px 20px;
  box-sizing: border-box;
  z-index: 0;
}

.swiper-slide .desc h3 {
  font-size: 110px;
  font-weight: 700;
  line-height: 0.9;
  color: #000;
  text-transform: uppercase;
  margin-bottom: 16px;
  margin-left: -8px;
}

.swiper-slide .desc p {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  line-height: 1.4;
  margin-bottom: 30px;
}

.swiper-slide .desc .btn a {
  font-size: 16px;
  background-color: #4857EC;
  padding: 11px 50px;
  color: #fff;
  display: inline;
}

.swiper-button-next,
.swiper-button-prev {
  width: 30px !important;
  height: 56px !important;
  background-image: url(../img/slider_icon.svg);
}

.swiper-button-next {
  background-position: -50px 0;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  opacity: 0;
}

.swiper-pagination-bullet {
  width: 16px !important;
  height: 16px !important;
  background-image: url(../img/slider_icon.svg) !important;
  background-position: -20px -70px !important;
  background-color: transparent !important;
  opacity: 1 !important;
}

.swiper-pagination-bullet-active {
  background-position: 0 -70px !important;
}

/* media */
@media (max-width: 1360px) {
  .eli__1 {
    left: 0%;
    display: none;
  }
}
@media (max-width: 960px) {
  .swiper-slide .desc {
    width: 100%;
    text-align: center;
  }
  .swiper-slide .desc h3 {
    font-size: 70px;
    word-break: keep-all;
  }
}
@media (max-width: 600px) {
  .swiper-slide .desc {
    padding: 80px 0;
  }
  .swiper-slide .desc h3 {
    font-size: 40px;
  }
  .swiper-slide .desc p {
    font-size: 16px;
    margin-bottom: 50px;
  }
  .swiper-slide .desc .btn a {
    padding: 10px 25px;
  }
}