.memory__wrap {
  display: none;
}
.memory__wrap.show {
  display: block;
}
.memory__inner {
  width: 700px;
  height: 700px;
  border: 3px solid #08f;
  background: #000;
  position: absolute;
  left: 300px;
  top: 100px;
  border-radius: 20px;
  animation: flicker 1.5s infinite alternate;
}
.memory__box {
  position: absolute;
  font-size: 4vw;
  width: 100%;
  height: 100%;
  background-color: #000;
  color: #fff;
  padding: 10px;
  z-index: 1;
}
.memory__box ul {
  margin-bottom: 50px;
}
.memory__box > .start {
  text-align: center;
  background-color: #08f;
  cursor: pointer;
}
.memory__card {
  padding: 30px;
}
.memory__card .cards {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}
.memory__card .cards li {
  list-style: none;
  width: 150px;
  height: 150px;
  position: relative;
  transform-style: preserve-3d;
  perspective: 500px;
}
.memory__card .cards li img {
  width: 100%;
}
.memory__card .cards li .view {
  position: absolute;
  backface-visibility: hidden;
  background: wheat;
  transition: 0.5s all;
  user-select: none;
  pointer-events: none;
}
.memory__card .cards li .front {
  transform: rotateY(0);
}
.memory__card .cards li.flip .front {
  transform: rotateY(180deg);
}
.memory__card .cards li .back {
  background: #fff;
  transform: rotateY(-180deg);
}
.memory__card .cards li.flip .back {
  transform: rotateY(0);
}
.memory__card .cards li.shakeX {
  animation: shakeX 0.5s 1;
}
.memory__card .cards li.shakeY {
  animation: shakeY 1s 1;
}
@keyframes flicker {
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    box-shadow: 0 0 0.5rem #fff, inset 0 0 0.5rem #fff, 0 0 2rem #08f,
      inset 0 0 2rem #08f, 0 0 4rem #08f, inset 0 0 4rem #08f;
  }
  /* 20%,
  55% {
    box-shadow: none;
  } */
}

@keyframes shakeX {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}
.animate__shakeX {
  -webkit-animation-name: shakeX;
  animation-name: shakeX;
}

@keyframes shakeY {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(0, -10px, 0);
    transform: translate3d(0, -10px, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(0, 10px, 0);
    transform: translate3d(0, 10px, 0);
  }
}
.animate__shakeY {
  -webkit-animation-name: shakeY;
  animation-name: shakeY;
}
