
.tetris__wrap{
    display: none;
    top: 500px;
    left: 0;
}
.tetris__wrap.show {
    display: block;
  }
.tetris__inner{
    width: 479px;
    height: 830px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background: rgba(58, 182, 240, 0.4);
    animation: flicker 1.5s infinite alternate;
}
.tetris__box{
    position: absolute;
    width: 479px;
    height: 834px; 
    background-color: #000;
    color: #fff;
    font-size: 40px;
}
.tetris__box.hide {
    display: none;
  }
.tetris__start{
    text-align: center;
    cursor: pointer;
    color: white;
}
.tetris__start.hide{
   display: none;
}
.tetris__start:hover{
    background-color: #08f;
}
.tetris__restart{
    text-align: center;
    cursor: pointer;
    color: white;
}
.tetris__play{}
.tetris__score{
    height: 30px;
    color: #fff;
    align-items: center;
    text-align: center;
    font-size: 30px;
    background: #000;
}
.playground{
    
}
.playground > ul{
    border: 2px solid #fff;

}
.playground > ul > li{
    list-style: none;
    width: 100%;
    height: 40px;
}
.playground > ul > li > ul{
    display: flex;
}
.playground > ul > li > ul > li{
    list-style: none;
    width: 40px;
    height: 40px;
    border: 1px solid #fff;

}
.Tmino{ 
    border: 10px #a042a2 outset !important;
    background-color: #952d98;
}
.Lmino{ 
    border: 10px #2bac3c outset !important;
    background-color: #2bac3c;
}
.Jmino{  border: 10px #db1f48 outset !important;
    background-color: #db1f48;}
.Zmino{ border: 10px #d83619 outset !important;
    background-color: #d83619; }
.Smino{  border: 10px #12b3e4 outset !important;
    background-color: #12b3e4;}
.Omino{  border: 10px #0a07c7 outset !important;
    background-color: #0a07c7;}
.Imino{  border: 10px #dae90f outset !important;
    background-color: #dae90f;}